<div class="row scroll-tab">
	<div class="col-xs-8">
		<a href="chapters-scroll" class="btn btn-primary" role="button">Complete View</a>
		<a href="tales" class="btn btn-success" role="button">Tales View</a>
		<a href="thematic" class="btn btn-info" role="button">Thematic View</a>
		<a class="btn btn-warning" role="button" ng-click="showDetails = ! showDetails">Topic Model 1</a>
		<a class="btn btn-warning" role="button" ng-click="showDetails = ! showDetails">Topic Model 2</a>
	</div>
	<div class="col-xs-4">
		<form role="search">
			<div class="form-group">
				<input ng-model="searchText" type="text" class="form-control" placeholder="Sort Text by Term">
			</div>
		</form>
	</div>
</div>
<div class="row topic-container" ng-class="{ 'hidden': ! showDetails }">
			<div class="col-xs-2 topics">
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 1</option>
			  			<option value="">-------------------------</option>
			  			<option value="hand">hand</option>
			  			<option value="heart">heart</option>
			  			<option value="long">long</option>
			  			<option value="eyes">eyes</option>
			  			<option value="made">made</option>
			  			<option value="young">young</option>
			  			<option value="day">day</option>
			  			<option value="thought">thought</option>
			  			<option value="time">time</option>
			  			<option value="good">good</option>
			  			<option value="man">man</option>
			  			<option value="father">father</option>
			  			<option value="heard">heard</option>
			  			<option value="head">head</option>
			  			<option value="make">make</option>
			  			<option value="left">left</option>
			  			<option value="room">room</option>
			  			<option value="half">half</option>
			  			<option value="give">give</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 2</option>
			  			<option value="">-------------------------</option>
			  			<option value=" man ">man</option>
			  			<option value=" great ">great</option>
			  			<option value=" time ">time</option>
			  			<option value=" country ">country</option>
			  			<option value=" men ">men</option>
			  			<option value=" day ">day</option>
			  			<option value=" part ">part</option>
			  			<option value=" young ">young</option>
			  			<option value=" party ">party</option>
			  			<option value=" made ">made</option>
			  			<option value=" place ">place</option>
			  			<option value=" left ">left</option>
			  			<option value=" means ">means</option>
			  			<option value=" found ">found</option>
			  			<option value=" state ">state</option>
			  			<option value=" youth ">youth</option>
			  			<option value=" present ">present</option>
			  			<option value=" death ">death</option>
			  			<option value=" make ">make</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 3</option>
			  			<option value="">-------------------------</option>
			  			<option value=" subject ">subject</option>
			  			<option value=" family ">family</option>
			  			<option value=" attention ">attention</option>
			  			<option value=" house ">house</option>
			  			<option value=" sir ">sir</option>
			  			<option value=" power ">power</option>
			  			<option value=" friend ">friend</option>
			  			<option value=" character ">character</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" immediately ">immediately</option>
			  			<option value=" recieved ">recieved</option>
			  			<option value=" captain ">captain</option>
			  			<option value=" stranger ">stranger</option>
			  			<option value=" person ">person</option>
			  			<option value=" made ">made</option>
			  			<option value=" till ">till</option>
			  			<option value=" present ">present</option>
			  			<option value=" situation ">situation</option>
			  			<option value=" friends ">friends</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 4</option>
			  			<option value="">-------------------------</option>
			  			<option value=" mrs ">mrs</option>
			  			<option value=" heart ">heart</option>
			  			<option value=" sir ">sir</option>
			  			<option value=" father ">father</option>
			  			<option value=" feelings ">feelings</option>
			  			<option value=" delwyn ">delwyn</option>
			  			<option value=" dear ">dear</option>
			  			<option value=" mother ">mother</option>
			  			<option value=" mind ">mind</option>
			  			<option value=" mr ">mr</option>
			  			<option value=" hope ">hope</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" nature ">nature</option>
			  			<option value=" life ">life</option>
			  			<option value=" happiness ">happiness</option>
			  			<option value=" tender ">tender</option>
			  			<option value=" good ">good</option>
			  			<option value=" affection ">affection</option>
			  			<option value=" castle ">castle</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 5</option>
			  			<option value="">-------------------------</option>
			  			<option value=" moment ">moment</option>
			  			<option value=" heart ">heart</option>
			  			<option value=" night ">night</option>
			  			<option value=" light ">light</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" life ">life</option>
			  			<option value=" love ">love</option>
			  			<option value=" till ">till</option>
			  			<option value=" father ">father</option>
			  			<option value=" power ">power</option>
			  			<option value=" voice ">voice</option>
			  			<option value=" heard ">heard</option>
			  			<option value=" god ">god</option>
			  			<option value=" eyes ">eyes</option>
			  			<option value=" figure ">figure</option>
			  			<option value=" appeared ">appeared</option>
			  			<option value=" castle ">castle</option>
			  			<option value=" wild ">wild</option>
			  			<option value=" feel ">feel</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 6</option>
			  			<option value="">-------------------------</option>
			  			<option value=" irish ">irish</option>
			  			<option value=" ireland ">ireland</option>
			  			<option value=" country ">country</option>
			  			<option value=" people ">people</option>
			  			<option value=" prince ">prince</option>
			  			<option value=" human ">human</option>
			  			<option value=" king ">king</option>
			  			<option value=" nature ">nature</option>
			  			<option value=" english ">english</option>
			  			<option value=" spirit ">spirit</option>
			  			<option value=" mr ">mr</option>
			  			<option value=" state ">state</option>
			  			<option value=" world ">world</option>
			  			<option value=" soul ">soul</option>
			  			<option value=" church ">church</option>
			  			<option value=" ancient ">ancient</option>
			  			<option value=" called ">called</option>
			  			<option value=" father ">father</option>
			  			<option value=" lord ">lord</option>
					</select>
				</div>
			</div>
			<div class="col-xs-10 topic-comment">
				<p>Use the menu on the left to sort the text by terms generated by topic modelling a corpus of 60 Irish novels published between 1800 and 1830. You can read more about this topic model and how it was generated <a href="">here</a>. Only one term from one topic can be selected at a time. One of the criticisms of distant reading as a methodology in literary studies is that it hides the specifics in favour of the general. With this edition, however, we can take offer both the general view of this corpus as well as how these topics specifically relate to <i>Melmoth the Wanderer</i> and where each term from each topic occurs in the text, by using the menus on the left to sort the text.</p>
			</div>
</div>
<div class="row topic-container" ng-class="{ 'hidden': ! showDetails }">
			<div class="col-xs-2 topics">
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 1</option>
			  			<option value="">-------------------------</option>
			  			<option value="hand">hand</option>
			  			<option value="heart">heart</option>
			  			<option value="long">long</option>
			  			<option value="eyes">eyes</option>
			  			<option value="made">made</option>
			  			<option value="young">young</option>
			  			<option value="day">day</option>
			  			<option value="thought">thought</option>
			  			<option value="time">time</option>
			  			<option value="good">good</option>
			  			<option value="man">man</option>
			  			<option value="father">father</option>
			  			<option value="heard">heard</option>
			  			<option value="head">head</option>
			  			<option value="make">make</option>
			  			<option value="left">left</option>
			  			<option value="room">room</option>
			  			<option value="half">half</option>
			  			<option value="give">give</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 2</option>
			  			<option value="">-------------------------</option>
			  			<option value=" man ">man</option>
			  			<option value=" great ">great</option>
			  			<option value=" time ">time</option>
			  			<option value=" country ">country</option>
			  			<option value=" men ">men</option>
			  			<option value=" day ">day</option>
			  			<option value=" part ">part</option>
			  			<option value=" young ">young</option>
			  			<option value=" party ">party</option>
			  			<option value=" made ">made</option>
			  			<option value=" place ">place</option>
			  			<option value=" left ">left</option>
			  			<option value=" means ">means</option>
			  			<option value=" found ">found</option>
			  			<option value=" state ">state</option>
			  			<option value=" youth ">youth</option>
			  			<option value=" present ">present</option>
			  			<option value=" death ">death</option>
			  			<option value=" make ">make</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 3</option>
			  			<option value="">-------------------------</option>
			  			<option value=" subject ">subject</option>
			  			<option value=" family ">family</option>
			  			<option value=" attention ">attention</option>
			  			<option value=" house ">house</option>
			  			<option value=" sir ">sir</option>
			  			<option value=" power ">power</option>
			  			<option value=" friend ">friend</option>
			  			<option value=" character ">character</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" immediately ">immediately</option>
			  			<option value=" recieved ">recieved</option>
			  			<option value=" captain ">captain</option>
			  			<option value=" stranger ">stranger</option>
			  			<option value=" person ">person</option>
			  			<option value=" made ">made</option>
			  			<option value=" till ">till</option>
			  			<option value=" present ">present</option>
			  			<option value=" situation ">situation</option>
			  			<option value=" friends ">friends</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 4</option>
			  			<option value="">-------------------------</option>
			  			<option value=" mrs ">mrs</option>
			  			<option value=" heart ">heart</option>
			  			<option value=" sir ">sir</option>
			  			<option value=" father ">father</option>
			  			<option value=" feelings ">feelings</option>
			  			<option value=" delwyn ">delwyn</option>
			  			<option value=" dear ">dear</option>
			  			<option value=" mother ">mother</option>
			  			<option value=" mind ">mind</option>
			  			<option value=" mr ">mr</option>
			  			<option value=" hope ">hope</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" nature ">nature</option>
			  			<option value=" life ">life</option>
			  			<option value=" happiness ">happiness</option>
			  			<option value=" tender ">tender</option>
			  			<option value=" good ">good</option>
			  			<option value=" affection ">affection</option>
			  			<option value=" castle ">castle</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 5</option>
			  			<option value="">-------------------------</option>
			  			<option value=" moment ">moment</option>
			  			<option value=" heart ">heart</option>
			  			<option value=" night ">night</option>
			  			<option value=" light ">light</option>
			  			<option value=" felt ">felt</option>
			  			<option value=" life ">life</option>
			  			<option value=" love ">love</option>
			  			<option value=" till ">till</option>
			  			<option value=" father ">father</option>
			  			<option value=" power ">power</option>
			  			<option value=" voice ">voice</option>
			  			<option value=" heard ">heard</option>
			  			<option value=" god ">god</option>
			  			<option value=" eyes ">eyes</option>
			  			<option value=" figure ">figure</option>
			  			<option value=" appeared ">appeared</option>
			  			<option value=" castle ">castle</option>
			  			<option value=" wild ">wild</option>
			  			<option value=" feel ">feel</option>
					</select>
				</div>
				<div class="topic-select">
					<select ng-model="searchText">
			  			<option value="">Topic 6</option>
			  			<option value="">-------------------------</option>
			  			<option value=" irish ">irish</option>
			  			<option value=" ireland ">ireland</option>
			  			<option value=" country ">country</option>
			  			<option value=" people ">people</option>
			  			<option value=" prince ">prince</option>
			  			<option value=" human ">human</option>
			  			<option value=" king ">king</option>
			  			<option value=" nature ">nature</option>
			  			<option value=" english ">english</option>
			  			<option value=" spirit ">spirit</option>
			  			<option value=" mr ">mr</option>
			  			<option value=" state ">state</option>
			  			<option value=" world ">world</option>
			  			<option value=" soul ">soul</option>
			  			<option value=" church ">church</option>
			  			<option value=" ancient ">ancient</option>
			  			<option value=" called ">called</option>
			  			<option value=" father ">father</option>
			  			<option value=" lord ">lord</option>
					</select>
				</div>
			</div>
			<div class="col-xs-10 topic-comment">
				<p>Use the menu on the left to sort the text by terms generated by topic modelling a corpus of 60 Irish novels published between 1800 and 1830. You can read more about this topic model and how it was generated <a href="">here</a>. Only one term from one topic can be selected at a time. One of the criticisms of distant reading as a methodology in literary studies is that it hides the specifics in favour of the general. With this edition, however, we can take offer both the general view of this corpus as well as how these topics specifically relate to <i>Melmoth the Wanderer</i> and where each term from each topic occurs in the text, by using the menus on the left to sort the text.</p>
			</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-4">
		<nav class="bs-docs-sidebar"> 
			<ul id="sidebar" class="nav nav-stacked fixed">
				<li ng-repeat="doc in chapter.chapters | orderBy:'chapter_number'" du-scrollspy="{{doc.chapter_id}}">
					<a href="#{{doc.chapter_id}}" du-smooth-scroll>{{doc.chapter_title}}</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-10 col-xs-8" id="content">
		<section ng-repeat="doc in chapter.chapters | orderBy:'chapter_number'" id="{{doc.chapter_id}}" class="group text-justify">
			<h3>{{doc.chapter_title}}</h3>
				<div class="subgroup">
					<blockquote>
						<p ng-bind-html="doc.epigraph.quote"></p>
						<p>- {{ doc.epigraph.bibl }}</p>
					</blockquote>
					<div ng-repeat="para in doc.paragraphs | filter:searchText" class="row text-justify">
						<p class="para" ng-bind-html="para.text | highlight:searchText" id="{{para.paragraph_id}}"></p>
						<div ng-repeat="footnote in para.footnotes" class="footnote_box">
							<p ng-bind-html="footnote.footnote_text"></P>
						</div>
					</div>
				</div>
		</section>
	</div>
</div>