<div class="row scroll-tab">
	<div class="col-xs-10">
		<a href="chapters-scroll" class="btn btn-info" role="button">Scroll View</a>
		<a href="tales" class="btn btn-success" role="button">Tales View</a>
		<!--<a href="#" class="btn btn-success" role="button" ng-click="showDetails = ! showDetails">Characters</a>
		<a href="#" class="btn btn-success" role="button" ng-click="showTales = ! showTales">Tales</a>
		<div class="btn-group" ng-class='{open: open}'>
			<button href="#" class="btn btn-success" role="button">Context for Chapter</button>
			<button class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-repeat="doc in chapter.chapters | orderBy:'chapter_number'"><a href="#" ng-click="doc.chapter_title = ! doc.chapter_title">{{doc.chapter_title}}</a></li>
		    </ul>
		</div>
		<a href="#" class="btn btn-primary" role="button">Footnotes</a>
		<a href="#" class="btn btn-warning" role="button">Help</a>-->
	</div>
	<div class="col-xs-2">
		<form role="search">
			<div class="form-group">
				<input ng-model="searchText" type="text" class="form-control" placeholder="Sort Text by Term">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec elementum orci. Praesent sed lorem quis arcu aliquet volutpat. Etiam fringilla nec magna at hendrerit. Nam rhoncus pellentesque nunc, vitae iaculis magna ultricies in. Donec nec ipsum id tellus congue maximus. Aliquam fermentum finibus mauris, at posuere nulla dictum eget. Quisque tempor auctor orci a gravida. Pellentesque aliquet volutpat quam vitae placerat.</p>
    </div>
</div>
<tabset class="row" ng-repeat="tales in chapter.tales_data" ng-class="{ 'hidden': ! showTales }">
	<tab ng-repeat="tale in tales.tales" heading="{{tale.title}}">
		<div>{{tale.description}}</div>
	</tab>
</tabset>
<div class="row">
	<div class="col-xs-12" id="content">
		<tabset>
			<tab ng-repeat="doc in chapter.chapters | orderBy:'chapter_number'" id="{{doc.chapter_id}}" heading="{{doc.chapter_title}}">
				<h3>{{doc.chapter_title}}</h1>
				<div class="subgroup">
					<blockquote>
						<p ng-bind-html="doc.epigraph.quote"></p>
						<p>- {{ doc.epigraph.bibl }}</p>
					</blockquote>
					<div ng-repeat="para in doc.paragraphs | filter:searchText" class="row text-justify">
						<p class="para" ng-bind-html="para.text | highlight:searchText" id="{{para.paragraph_id}}"></p>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>