<div class="row download">
	<a target="_self" href="" class="btn btn-primary" role="button" download="60IrishNovels-topic-model">Melmoth JSON</a>
	<a target="_self" href="" class="btn btn-primary" role="button" download="60IrishNovels-topic-model">Melmoth XML</a>
	<a target="_self" href="" class="btn btn-primary" role="button" download="60IrishNovels-topic-model">Melmoth Plain Text</a>
</div>
<div class="row download">
	<a target="_self" href="" class="btn btn-info" role="button" download="60IrishNovels-topic-model">Corpus Plain Text (ZIP)</a>
</div>


