<div class="page-header jumbotron">
	<h2 class="text-muted nopadding">Charles R. Maturin's</h2>
	<h1 class="nopadding-top">
		Melmoth the Wanderer <small>A Critical Edition</small>
	</h1>
	<hr>
	<div>
		<p><a href="chapters" class="btn btn-primary btn-lg">Start Reading Chapter One Now</a> <span class="text-muted">or browse the edition <a href="#">here</a>.</span></p>
	</div>
</div>
			
<footer class="footer">
	<div class="well text-center">
		<p class="text-muted">Created and Edited by Shane Murtagh as part of a PhD in Digital Humanities. Read the rest of the thesis <a href="#">	here</a>.</p>
	</div>
</footer>
