<div class="row">
	<div class="col-xs-4 col-xs-offset-8">
		<form role="search">
			<div class="form-group">
				<input ng-model="searchText" type="text" class="form-control" placeholder="Sort Text by Term">
			</div>
		</form>
	</div>
</div>
<tabset>
	<tab ng-repeat="paratext in chapter.intro" heading="{{paratext.title}}">
		<h3>{{paratext.title}}</h3>
		<p class="para text-justify" ng-repeat="para in paratext.paragraphs | filter:searchText" ng-bind-html="para.text | highlight:searchText"></p>
	</tab>
</tabset>