<div class="row">
	<div class="col-xs-8">
		<a href="chapters-scroll" class="btn btn-primary" role="button">Complete View</a>
		<a href="tales" class="btn btn-success" role="button">Tales View</a>
		<a href="thematic" class="btn btn-info" role="button">Thematic View</a>
		<a class="btn btn-warning" role="button" ng-click="showDetails = ! showDetails">Topic Model</a>
	</div>
	<div class="col-xs-4">
		<form role="search">
			<div class="form-group">
				<input ng-model="searchText" type="text" class="form-control" placeholder="Sort Text by Term">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<tabset>
		<tab ng-repeat="tale in chapter.complete_tales" heading="{{tale.title}}">
			<h3 ng-bind-html="tale.title"></h3>
			<div ng-repeat="para in tale.paragraphs | filter:searchText" class="row text-justify">
				<p class="para" ng-bind-html="para.text | highlight:searchText" id="{{para.paragraph_id}}"></p>
			</div>
		</tab>
	</tabset>
</div>