.topic-select{
  padding-bottom:10px;
}

.topic-container{
  border: 1px solid black;
  padding:20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.para{
	color: black;
	text-indent: 50px;
	font-size: 18px;
}

.note{
	border-left: 2px solid black;
	background-color: red;
}

.chapters{
	margin-top: 50px;
}

.highlighted { background: yellow }

.navbar-fixed-top {
}

.navbar-fixed-top.ui-scrollfix {
   position: fixed;
   top:0;
}


body {
	position: relative;
  /*background-image: url("http://orig15.deviantart.net/a11f/f/2014/243/6/3/charles_r__maturin_by_bnoy-d7xgefq.jpg");*/
}

.chapter-navbar-link{
	margin:0px;
}

.endnote_button{
	white-space: normal;
	margin-bottom: 5px; 
}

.home_bio_content{
  font-size: 16px;
  line-height: 1.5em;
  padding:20px;
  text-align: justify;
}

#home_tabs{
  margin-bottom: 20px;
}

.home_tabs_image{
  padding:20px;
}

.scroll-tab{
  margin-bottom: 50px;
}

#intro-title{
  text-align: center;
}

.procedure-details {
    max-height: 100px;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

/* sidebar */

.fixed {
    position: fixed;
	overflow: auto;
	height:500px;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}

.bs-docs-sidebar .nav>li>a:focus { /* fixes bug where link stays active when clicked, even when scrolling away from active div */
	background-color: transparent;  
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
  }


.test{
	color:red;
}

.paratext_title{
	text-align: center;
	margin-bottom: 20px;
	text-decoration: underline;
}

.image_footer{
  text-align: center;
}

img.endnote_image{
	max-width:60%;
	max-height:100%;
}

div.endnote_content{
	text-align: justify;
}

.notes_button{
	margin-bottom: 20px;
}




/*
 * Row with equal height columns http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}



.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.activeClass{
	background-color: red;
}

/* D3JS */

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

d3-tip {
    line-height: 1;
    color: black;
}
